<ion-view view-title="Galeria" >
  <div class="bar bar-subheader bar-light bar-custom" ng-show="verMultimedia('imagenes')">
    <h1 class="title">
      <i class="ion-ios-camera"></i>
      Fotos
    </h1>

  </div>
  <div class="bar bar-subheader bar-light bar-custom" ng-show="verMultimedia('videos')">
    <h1 class="title">
      <i class="ion-ios-film"></i>
      Videos
    </h1>

  </div>
  </div>
  <div class="bar bar-subheader bar-light bar-custom" ng-show="verMultimedia('sonidos')">
    <h1 class="title">
      <i class="ion-ios-musical-notes"></i>
      Sonidos
    </h1>

  </div>
  <ion-content ng-show="verMultimedia('imagenes')" class="has-subheader">
      <div class="row" ng-repeat="img in res" ng-if="$index % 4 === 0">
        <div class="col col-25" ng-if="$index < res.length" ng-click="showImages($index)">
          <figure>
            <img src="{{res[$index].thumb}}" width="100%" alt="" />
            <figcaption>
              <span>
                {{res[$index].size}}
                <span class='spacer'></span>
            </figcaption>
          </figure>
        </div>
        <div class="col col-25" ng-if="$index +1 < res.length" ng-click="showImages($index+1)">
          <figure>
            <img src="{{res[$index+1].thumb}}" width="100%" alt="" />
            <figcaption>
              <span>
                {{res[$index+1].size}}
                <span class='spacer'></span>
            </figcaption>
          </figure>
        </div>
        <div class="col col-25" ng-if="$index +2 < res.length" ng-click="showImages($index+2)">
          <figure>
            <img src="{{res[$index+2].thumb}}" width="100%" alt="" />
            <figcaption>
              <span>
                {{res[$index+2].size}}
                <span class='spacer'></span>
            </figcaption>
          </figure>
        </div>
        <div class="col col-25" ng-if="$index +3 < res.length" ng-click="showImages($index+3)">
          <figure>
            <img src="{{res[$index+3].thumb}}" width="100%" alt="" />
            <figcaption>
              <span>
                {{res[$index+3].size}}
                <span class='spacer'></span>
            </figcaption>
          </figure>
        </div>
      </div>

    </ion-content>

    <ion-content ng-show="verMultimedia('videos')" class="has-subheader">
      <div class="row" ng-repeat="img in res" ng-if="$index % 4 === 0">
        <div class="col col-25" ng-if="$index < res.length" ng-click="playVideo()">
          <figure>
            <img src="{{res[$index].thumb}}" width="100%" alt="" />
            <figcaption>
              <span>
                {{res[$index].size}}
                <span class='spacer'></span>
            </figcaption>
          </figure>
        </div>
        <div class="col col-25" ng-if="$index +1 < res.length" ng-click="playVideo()">
          <figure>
            <img src="{{res[$index+1].thumb}}" width="100%" alt="" />
            <figcaption>
              <span>
                {{res[$index+1].size}}
                <span class='spacer'></span>
            </figcaption>
          </figure>
        </div>
        <div class="col col-25" ng-if="$index +2 < res.length" ng-click="playVideo()">
          <figure>
            <img src="{{res[$index+2].thumb}}" width="100%" alt="" />
            <figcaption>
              <span>
                {{res[$index+2].size}}
                <span class='spacer'></span>
            </figcaption>
          </figure>
        </div>
        <div class="col col-25" ng-if="$index +3 < res.length" ng-click="playVideo()">
          <figure>
            <img src="{{res[$index+3].thumb}}" width="100%" alt="" />
            <figcaption>
              <span>
                {{res[$index+3].size}}
                <span class='spacer'></span>
            </figcaption>
          </figure>
        </div>
      </div>
    </ion-content>

    <ion-content ng-show="verMultimedia('sonidos')" class="has-subheader">
      <div class="" ng-repeat="img in res">
        <div class="list" >
          <div class="item">
            <h2>{{res[$index].title}}</h2>
            <p>Tamaño: {{res[$index].size}}</p>
            <p>Formato: {{res[$index].format}}</p>
            <div>
              <audio  controls="controls" preload="none"  >
                <source src="{{trustSrc(res[$index].image)}}" type="audio/mp3"></source>
              </audio>
            </div>

          </div>

        </div>
      </div>
    </ion-content>
</ion-view>
