<ion-view view-title="Detalles"  >

  <ion-content >
    <ion-list class="list">
      <div class="item item-thumbnail-left" >
        <img ng-src="{{res.thumb || defaultImg}}" alt="{{res.image.url}}" class="imagen-detalle" />
        <h2>{{res.title}}</h2>
        <p>{{res.id}}</p>
        <p>{{res.type}}</p>
        <p>
          <ion-rate maximum="maximumRate" rate="rate" color="color" select-star="selectedStar(rating,res.id)"></ion-rate>
          <!-- <i class="icon ion-ios-star"></i>
          <a href="#" class="subdued"> 56</a> -->
        </p>
      </div>
      <div class="item item-body">

        <p>{{res.description}}</p>


        <div class="button-bar">
          <button class="button button-stable button-block button-small icon ion-social-facebook"  ng-click="compartir('facebook',res.url)"></button>
          <button class="button button-stable button-block button-small icon ion-social-twitter" ng-click="compartir('twitter', res.url)"></button>
          <button class="button button-stable button-block button-small icon ion-social-googleplus" ng-click="compartir('google',res.url)"></button>
          <button class="button button-stable button-block button-small" ng-click="addFav(res, lugar)"><i class="ion-icon ion-ios-star" ng-class="claseFav(res.favorito)"></i></button>
        </div>

        <div class="button-bar bar-header b-media">
          <a class="button button-outline icon-left ion-ios-camera button-balanced" ng-click="irMultimedia(res.id,'image')">
            <span class="">{{res.media[0].cont}}</span>
          </a>
          <a class="button button-outline icon-left ion-ios-film button-balanced" ng-click="irMultimedia(res.id,'video')">
            <span class="">{{res.media[1].cont}}</span>
          </a>
          <a class="button button-outline icon-left ion-ios-musical-notes button-balanced" ng-click="irMultimedia(res.id,'sound')">
            <span class="">{{res.media[2].cont}}</span>
          </a>
        </div>

        <br>

        <div class="list">
          <a class="item item-icon-left a-tabla" ng-click="ShowTabla()" >
            <i class="icon ion-ios-arrow-down" on-icon="ion-ios-arrow-down" off-icon="ion-ios-arrow-up" icon-switcher></i>
            Tabla atributos
            <span class="badge badge-assertive">{{res.atributos.length}}</span>
          </a>
          <div class="" ng-show="tabla">
            <div ng-repeat="i in res.atributos">
              <div class="item item-divider  item-button-right">
                <strong>{{i.key}}</strong><br>
              </div>
              <div class="item item-text-wrap" >
                {{i.value}}
              </div>
            </div>

          </div>

        </div>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
