<ion-modal-view class="ion-nifty-modal">
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <div class="list">

        <label class="item item-input item-select " ng-repeat="i in facetas">
          <div class="input-label labelSeleccion">
            {{i.label}}
          </div>
          <select ng-model="fasJson[$index]">
            <option value="">Ninguno</option>
            <option ng-repeat="opc in i.items">{{opc.o}}</option>
          </select>
        </label>
        <br>
        <div class="button-bar">
          <a class="button button-balanced button-outline" ng-click="busFacetas()">Aceptar</a>
          <a class="button button-assertive button-outline" ng-click="closeModal()">Cancelar</a>
        </div>
        <br>
        <br>
      </div>
    </ion-content>
  </div>
</ion-modal-view>
