<ion-view view-title="Categoria">
  <ion-content >
    <div class="list">
      <div class="item item-divider"> Publicaciones de la semana
        <span class="badge badge-light">{{9}}</span></div>

<div  ng-repeat="i in res | filter: titles" class="item-text-wrap" >
     <a class="item item-thumbnail-left" href="#/tab/categoria/cat-detalle">
      <img src="img/logo.png">
      <h2><strong>{{i.title}}</strong></h2>
      <p>{{i.description}} </p>
      <div class="button-bar">
          <button class="button button-stable button-block button-small icon ion-social-facebook"></button>
          <button class="button button-stable button-block button-small icon ion-social-twitter"></button>
          <button class="button button-stable button-block button-small icon ion-social-googleplus"></button>
          <button class="button button-stable button-block button-small icon ion-archive"></button>
      </div>

    </a>
</div>
    <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-list-outline"></i>
        Más publicaciones
        <span class="item-note">
         <i class="ion-ios-more">
         </i>
        </span>
      </a>
  <div class="item item-divider"> Más leidos</div>
  <div  ng-repeat="i in res | filter: titles" class="item-text-wrap" >
       <a class="item item-thumbnail-left" href="#/tab/categoria/cat-detalle">
        <img src="img/logo.png">
        <h2><strong>{{i.title}}</strong></h2>
        <p>{{i.description}} </p>
      </a>
  </div>
  <a class="item item-icon-left" href="#">
      <i class="icon ion-ios-list-outline"></i>
      Más publicaciones
      <span class="item-note">
       <i class="ion-ios-more">
       </i>
      </span>
    </a>
    </div>
  </ion-content>
</ion-view>
