<ion-view view-title="Buscador">

  <div class="bar bar-subheader item-input-inset bar-light bar-custom">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar"  ng-model="search" ngenter="do(search,'','','','','')">
      <span class="badge badge-assertive" ng-if="totRes != undefined || totRes != null">{{totRes}}</span>
    </label>
    <i class="icon ion-ios-close placeholder-icon padding" ng-show="verClear()" ng-click="borrarBusqueda()"></i>
    <a  class="button button-clear ion-ios-toggle b-categoria"  ng-click="verFacetas()" >
    </a>

  </div>
  <ion-content   class="has-subheader" ng-init="obtenerTopTen()" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <div class="aviso" ng-show="noResults">
          <i class="glyph-icon flaticon-2surprised-emoticon-square-face-with-open-eyes-and-mouth"></i>
          <span>No se encontraron coincidencias,<br> intenta otra busqueda</span>
    </div>

    <ion-list can-swipe="true">
      <ion-item class="item item-divider" ng-show="populares">
       <i class="icon ion-ios-pulse-strong"></i> Populares
      </ion-item>
      <ion-item class="item-thumbnail-left item-text-wrap item-cont2" ng-repeat="i in res" ng-if="i.id != undefined || i.id != null || i.id.length > 0">
        <img class="imagen-detalle" ng-src="{{i.image.thumb || defaultImg}}" class="" ng-click="irDetalle('{{i.id}}')">
        <h3 class=" "ng-click="irDetalle('{{i.id}}')">
          <strong>{{i.title}}</strong>
        </h3>
        <i class="estrella fav ion-icon ion-ios-star" ng-class="claseFav(i.favorito)"></i>
        <p ng-click="irDetalle('{{i.id}}')">{{i.description}}</p>

        <div class="button-bar">
          <button class="button button-stable button-block button-small icon ion-social-facebook"  ng-click="compartir('facebook',i.url)"></button>
          <button class="button button-stable button-block button-small icon ion-social-twitter" ng-click="compartir('twitter', i.url)"></button>
          <button class="button button-stable button-block button-small icon ion-social-googleplus" ng-click="compartir('google',i.url)"></button>
        </div>

        <ion-option-button class="button-stable b-ion" ng-click="addFav(i, lugar)">
          <i class="ion-icon ion-ios-star" ng-class="claseFav(i.favorito)"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="cargarPaginador(search,'','','','','')" ng-if="more" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
