<ion-view view-title="Favoritos">
  <ion-content padding="true">
    <div class="">
      <div class="aviso vcenter" ng-if="usuarioID === null">
        <i class="glyph-icon flaticon-2sad-rounded-square-emoticon"></i>
        <span>Necesitas registrarte para acceder a esta sección.</span>
      </div>
      <div class="aviso vcenter" ng-if="cantFav === false">
        <i class="glyph-icon flaticon-2sad-rounded-square-emoticon"></i>
        <span>No tienes ningun favorito.</span>
      </div>
    </div>
    <ion-list can-swipe="true" ng-if="usuarioID != null">

      <ion-item class="item-thumbnail-left item-text-wrap item-cont2" ng-repeat="i in results" ng-if="(i.estado === 'true') && (i.id != undefined || i.id != null || i.id.length > 0)">
        <img class="imagen-detalle" ng-src="{{i.thumb}}" class=""ng-click="irDetalle('{{i.id}}')">
        <h3 class=" "ng-click="irDetalle('{{i.id}}')">
          <strong>{{i.title}}</strong>
        </h3>
        <i class="estrella fav ion-icon ion-ios-star"  ng-class="claseFav(i.favorito)"></i>
        <p ng-click="irDetalle('{{i.id}}')">{{i.description}}</p>

        <div class="button-bar">
          <button class="button button-stable button-block button-small icon ion-social-facebook"  ng-click="compartir('facebook',i.url)"></button>
          <button class="button button-stable button-block button-small icon ion-social-twitter" ng-click="compartir('twitter', i.url)"></button>
          <button class="button button-stable button-block button-small icon ion-social-googleplus" ng-click="compartir('google',i.url)"></button>
        </div>

        <ion-option-button class="button-stable b-ion" ng-click="addFav(i, lugar)">
          <i class="ion-icon ion-ios-star"  ng-class="claseFav(i.favorito)"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
