<ion-view view-title="Usuario">
  <ion-content class="padding" padding="true" class="has-subheader" >

    <div class="img-logo" ng-show="acceso">
      <img src="img/logo.png"  width="50%" alt="Logo SmartLand">
    </div>

    <ion-list class="list-isent " ng-show="acceso">
      <div class="card padding">
        <button class="button  icon-left button-small button-block button-positive"  ng-click="login('facebook')">
          <i class="item-icon-right icon ion-social-facebook" ></i> Ingresar con Facebook
        </button>
        <label>
          <button class="button  icon-left button-small button-block button-assertive" ng-click="login('google')">

            <i class="item-icon-right icon ion-social-google" ></i> Ingresar con Google+
          </button>
        </label>
        <label>
          <button class="button  icon-left button-small button-block button-calm" ng-click="login('twitter')">
            <i class="item-icon-right icon ion-social-twitter" ></i> Ingresar con Twitter
          </button>
        </label>
        <!-- <label>
          <button class="button  icon-left button-small button-block button-calm" ng-click="postPrueba()">
            <i class="item-icon-right icon ion-social-twitter" ></i> Post prueba
          </button>
        </label> -->
      </div>
    </ion-list>

    <ion-list class="list-isent">
      <div ng-show="accesoFb" ng-init="init(facebook)" >

        <div class="container">
          <div class="profile-box">
            <div class="profile-cover-image">
              <img src="img/banner.jpg" width="100%" height="auto"/>
            </div>
            <div class="profile-picture">
              <img ng-src="{{profileData.picture.data.url || userDB.url_img}}" />
            </div>
            <div class="profile-content">
              <h1>
                <i class="icon ion-ios-person"></i>
                {{profileData.name || userDB.nombre}}
              </h1>
              <p>
                <i class="icon ion-ios-heart"></i>
                {{profileData.gender || userDB.genero}}
              </p>
              <p>
                <i class="icon ion-ios-email"></i>
                {{profileData.email || userDB.email}}
              </p>
              <p>
                <i class="icon ion-ios-navigate"></i>
                {{profileData.location.name || userDB.location}}
              </p>
              <button class="button button-outline  icon-left button-small button-block button-assertive" ng-click="cerrarSesion()">

                <i class="icon ion-log-out" ></i>
                Cerrar Sesión
              </button>
              <div class="socials">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="activo">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fa fa-google"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  ng-show="accesoGoo" ng-init="init(google)">
        <div class="container">
          <div class="profile-box">
            <div class="profile-cover-image">
              <img src="img/banner.jpg" width="100%" height="auto"/>
            </div>
            <div class="profile-picture">
              <img ng-src="{{profileData.picture || userDB.url_img}}" />
            </div>
            <div class="profile-content">
              <h1>
                <i class="icon ion-ios-person"></i>
                {{profileData.given_name || userDB.user}}
              </h1>
              <p>
                <i class="icon ion-paperclip"></i>
                {{profileData.name || userDB.nombre}}
              </p>
              <p>
                <i class="icon ion-ios-email"></i>
                {{profileData.email || userDB.email}}
              </p>
              <p>
                <i class="icon ion-ios-heart"></i>
                {{profileData.gender || userDB.genero}}
                <i class="icon ion-ios-navigate"></i>
                {{profileData.locale || userDB.idioma}}
              </p>

              <button class="button button-outline  icon-left button-small button-block button-assertive" ng-click="cerrarSesion()">

                <i class="icon ion-log-out" ></i>
                Cerrar Sesión
              </button>
              <div class="socials">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="activo">
                  <i class="fa fa-google"></i>
                </a>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="accesoTw" ng-init="init(twitter)">
        <div class="container">
          <div class="profile-box">
            <div class="profile-cover-image">
              <img ng-src="{{profileData.profile_banner_url || userDB.banner}}" height="200px" width="auto" />
            </div>
            <div class="profile-picture">
              <img ng-src="{{profileData.profile_image_url || userDB.url_img}}" />
            </div>
            <div class="profile-content">
              <h1>
                <i class="icon ion-ios-person"></i>
                {{profileData.name || userDB.nombre}}
              </h1>
              <p>
                <i class="icon ion-ios-at"></i>
                {{profileData.screen_name || userDB.user}}
              </p>
              <p>
                <i class="icon ion-ios-bookmarks"></i>
                {{profileData.description || userDB.description}}
              </p>
              <p>
                <i class="icon ion-ios-navigate"></i>
                {{profileData.location || userDB.location}}
              </p>

              <button class="button button-outline  icon-left button-small button-block button-assertive" ng-click="cerrarSesion()">

                <i class="icon ion-log-out" ></i>
                Cerrar Sesión
              </button>
              <div class="socials">
                <a href="#">
                  <i class="fa fa-google"></i>
                </a>
                <a href="#" class="activo">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ion-list>

  </ion-content>
</ion-view>
