<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class=" bar-balanced dark-background">


  <ion-tab  title="Buscar" icon-on="ion-ios-search-strong" icon-off="ion-ios-search" href="#/tab/buscar">
    <ion-nav-view name="tab-buscar" animation="fade-in"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favoritos" href="#/tab/favoritos" icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
    <ion-nav-view name="tab-favoritos" animation="fade-in"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Usuario" href="#/tab/usuario" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
    <ion-nav-view name="tab-usuario" animation="fade-in"></ion-nav-view>
  </ion-tab>

</ion-tabs>
