<div class="modal transparent fullscreen-player" ng-click="closeModal()">
    <!-- <video ng-src="{{clipSrc}}" class="centerme" controls="controls" autoplay></video> -->
    <video class="centerme" controls="controls" autoplay>
	<source src="{{trustSrc(clipSrc)}}" type="video/mp4">
</video>
</div>
