    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-amused-black-face-with-closed-eyes-and-mouth:before { content: "\f100"; }
.flaticon-amused-black-solid-emoticon-face-for-interface:before { content: "\f101"; }
.flaticon-amused-smiling-black-emoticon-face:before { content: "\f102"; }
.flaticon-angry-black-emoticon-face:before { content: "\f103"; }
.flaticon-angry-black-face:before { content: "\f104"; }
.flaticon-angry-black-face-1:before { content: "\f105"; }
.flaticon-angry-face-black-emoticon:before { content: "\f106"; }
.flaticon-astonished-black-emoticon-face:before { content: "\f107"; }
.flaticon-astonished-black-emoticon-face-1:before { content: "\f108"; }
.flaticon-black-face-without-mouth:before { content: "\f109"; }
.flaticon-emoticon-black-face-with-closed-eyes-and-opened-mouth:before { content: "\f10a"; }
.flaticon-emoticon-black-face-with-opened-mouth:before { content: "\f10b"; }
.flaticon-emoticon-black-face-with-opened-mouth-1:before { content: "\f10c"; }
.flaticon-emoticon-black-face-with-opened-mouth-and-closed-eyes:before { content: "\f10d"; }
.flaticon-emoticon-face-with-open-mouth-solid-black-interface-symbol:before { content: "\f10e"; }
.flaticon-eyeglasses-black-face-emoticon:before { content: "\f10f"; }
.flaticon-face-black-symbol-with-closed-eyes-and-opened-mouth:before { content: "\f110"; }
.flaticon-fake-grinning-black-emoticon-face:before { content: "\f111"; }
.flaticon-false-grinning-black-face:before { content: "\f112"; }
.flaticon-flashed-black-emoticon-face:before { content: "\f113"; }
.flaticon-flashed-black-emoticon-face-with-circular-sunglasses:before { content: "\f114"; }
.flaticon-flashed-emoticon-face-black-symbol-with-opened-circular-eyes-and-mouth:before { content: "\f115"; }
.flaticon-grinning-black-face-with-closed-eyes:before { content: "\f116"; }
.flaticon-grinning-face:before { content: "\f117"; }
.flaticon-grinning-face-black-emoticon-symbol:before { content: "\f118"; }
.flaticon-grinning-face-showing-teeth-black-solid-emoticon:before { content: "\f119"; }
.flaticon-kissing-black-emoticon-face:before { content: "\f11a"; }
.flaticon-kissing-female-black-emoticon-face:before { content: "\f11b"; }
.flaticon-laughing-black-emoticon-face:before { content: "\f11c"; }
.flaticon-laughing-emoticon-black-happy-face:before { content: "\f11d"; }
.flaticon-laughing-face-black-emoticon:before { content: "\f11e"; }
.flaticon-moustache-male-black-emoticon-face:before { content: "\f11f"; }
.flaticon-neutral-black-emoticon-face-symbol:before { content: "\f120"; }
.flaticon-neutral-black-emoticon-face-with-straight-lines-of-eyes-and-mouth:before { content: "\f121"; }
.flaticon-neutral-emoticon-face-black-solid-interface-symbol-with-straight-mouth-line:before { content: "\f122"; }
.flaticon-old-man-black-face-emoticon-with-mustache-and-one-vintage-circular-eyeglass:before { content: "\f123"; }
.flaticon-open-mouth-black-emoticon-face:before { content: "\f124"; }
.flaticon-sad-black-emoticon-face:before { content: "\f125"; }
.flaticon-sad-black-emoticon-face-1:before { content: "\f126"; }
.flaticon-sad-black-face-emoticon:before { content: "\f127"; }
.flaticon-sad-black-face-with-closed-eyes-fill-symbol:before { content: "\f128"; }
.flaticon-sad-emoticon-black-face:before { content: "\f129"; }
.flaticon-sad-emoticon-black-face-symbol:before { content: "\f12a"; }
.flaticon-sad-emoticon-black-face-with-closed-eyes-and-mouth:before { content: "\f12b"; }
.flaticon-sad-face-black-symbol:before { content: "\f12c"; }
.flaticon-sad-face-of-solid-emoticon:before { content: "\f12d"; }
.flaticon-sad-face-with-closed-eyes-and-mouth-black-emoticon-symbol:before { content: "\f12e"; }
.flaticon-smiling-black-emoticon-face:before { content: "\f12f"; }
.flaticon-smiling-black-emoticon-face-1:before { content: "\f130"; }
.flaticon-smiling-black-face-with-closed-eyes-and-mouth:before { content: "\f131"; }
.flaticon-smiling-emoticon-black-face-symbol:before { content: "\f132"; }
.flaticon-smiling-face-black-circle-with-closed-eyes-and-mouth:before { content: "\f133"; }
.flaticon-smiling-face-black-emoticon-symbol:before { content: "\f134"; }
.flaticon-smirking-black-circular-emoticon-face-symbol:before { content: "\f135"; }
.flaticon-smirking-face-black-emoticon-with-eyeglasses:before { content: "\f136"; }
.flaticon-stubborn-solid-black-emoticon-face-interface-symbol:before { content: "\f137"; }
.flaticon-stuck-out-tongue-of-black-face:before { content: "\f138"; }
.flaticon-sunglasses-black-emoticon-face:before { content: "\f139"; }
.flaticon-unamused-black-face-emoticon:before { content: "\f13a"; }
.flaticon-winking-black-emoticon-face:before { content: "\f13b"; }
.flaticon-winking-black-emoticon-face-symbol:before { content: "\f13c"; }
.flaticon-winking-emoticon-face-with-stuck-out-tongue-black-symbol:before { content: "\f13d"; }
.flaticon-worried-black-emoticon-face:before { content: "\f13e"; }
.flaticon-worried-black-face:before { content: "\f13f"; }
.flaticon-worried-face-of-black-emoticon:before { content: "\f140"; }
    
    $font-Flaticon-amused-black-face-with-closed-eyes-and-mouth: "\f100";
    $font-Flaticon-amused-black-solid-emoticon-face-for-interface: "\f101";
    $font-Flaticon-amused-smiling-black-emoticon-face: "\f102";
    $font-Flaticon-angry-black-emoticon-face: "\f103";
    $font-Flaticon-angry-black-face: "\f104";
    $font-Flaticon-angry-black-face-1: "\f105";
    $font-Flaticon-angry-face-black-emoticon: "\f106";
    $font-Flaticon-astonished-black-emoticon-face: "\f107";
    $font-Flaticon-astonished-black-emoticon-face-1: "\f108";
    $font-Flaticon-black-face-without-mouth: "\f109";
    $font-Flaticon-emoticon-black-face-with-closed-eyes-and-opened-mouth: "\f10a";
    $font-Flaticon-emoticon-black-face-with-opened-mouth: "\f10b";
    $font-Flaticon-emoticon-black-face-with-opened-mouth-1: "\f10c";
    $font-Flaticon-emoticon-black-face-with-opened-mouth-and-closed-eyes: "\f10d";
    $font-Flaticon-emoticon-face-with-open-mouth-solid-black-interface-symbol: "\f10e";
    $font-Flaticon-eyeglasses-black-face-emoticon: "\f10f";
    $font-Flaticon-face-black-symbol-with-closed-eyes-and-opened-mouth: "\f110";
    $font-Flaticon-fake-grinning-black-emoticon-face: "\f111";
    $font-Flaticon-false-grinning-black-face: "\f112";
    $font-Flaticon-flashed-black-emoticon-face: "\f113";
    $font-Flaticon-flashed-black-emoticon-face-with-circular-sunglasses: "\f114";
    $font-Flaticon-flashed-emoticon-face-black-symbol-with-opened-circular-eyes-and-mouth: "\f115";
    $font-Flaticon-grinning-black-face-with-closed-eyes: "\f116";
    $font-Flaticon-grinning-face: "\f117";
    $font-Flaticon-grinning-face-black-emoticon-symbol: "\f118";
    $font-Flaticon-grinning-face-showing-teeth-black-solid-emoticon: "\f119";
    $font-Flaticon-kissing-black-emoticon-face: "\f11a";
    $font-Flaticon-kissing-female-black-emoticon-face: "\f11b";
    $font-Flaticon-laughing-black-emoticon-face: "\f11c";
    $font-Flaticon-laughing-emoticon-black-happy-face: "\f11d";
    $font-Flaticon-laughing-face-black-emoticon: "\f11e";
    $font-Flaticon-moustache-male-black-emoticon-face: "\f11f";
    $font-Flaticon-neutral-black-emoticon-face-symbol: "\f120";
    $font-Flaticon-neutral-black-emoticon-face-with-straight-lines-of-eyes-and-mouth: "\f121";
    $font-Flaticon-neutral-emoticon-face-black-solid-interface-symbol-with-straight-mouth-line: "\f122";
    $font-Flaticon-old-man-black-face-emoticon-with-mustache-and-one-vintage-circular-eyeglass: "\f123";
    $font-Flaticon-open-mouth-black-emoticon-face: "\f124";
    $font-Flaticon-sad-black-emoticon-face: "\f125";
    $font-Flaticon-sad-black-emoticon-face-1: "\f126";
    $font-Flaticon-sad-black-face-emoticon: "\f127";
    $font-Flaticon-sad-black-face-with-closed-eyes-fill-symbol: "\f128";
    $font-Flaticon-sad-emoticon-black-face: "\f129";
    $font-Flaticon-sad-emoticon-black-face-symbol: "\f12a";
    $font-Flaticon-sad-emoticon-black-face-with-closed-eyes-and-mouth: "\f12b";
    $font-Flaticon-sad-face-black-symbol: "\f12c";
    $font-Flaticon-sad-face-of-solid-emoticon: "\f12d";
    $font-Flaticon-sad-face-with-closed-eyes-and-mouth-black-emoticon-symbol: "\f12e";
    $font-Flaticon-smiling-black-emoticon-face: "\f12f";
    $font-Flaticon-smiling-black-emoticon-face-1: "\f130";
    $font-Flaticon-smiling-black-face-with-closed-eyes-and-mouth: "\f131";
    $font-Flaticon-smiling-emoticon-black-face-symbol: "\f132";
    $font-Flaticon-smiling-face-black-circle-with-closed-eyes-and-mouth: "\f133";
    $font-Flaticon-smiling-face-black-emoticon-symbol: "\f134";
    $font-Flaticon-smirking-black-circular-emoticon-face-symbol: "\f135";
    $font-Flaticon-smirking-face-black-emoticon-with-eyeglasses: "\f136";
    $font-Flaticon-stubborn-solid-black-emoticon-face-interface-symbol: "\f137";
    $font-Flaticon-stuck-out-tongue-of-black-face: "\f138";
    $font-Flaticon-sunglasses-black-emoticon-face: "\f139";
    $font-Flaticon-unamused-black-face-emoticon: "\f13a";
    $font-Flaticon-winking-black-emoticon-face: "\f13b";
    $font-Flaticon-winking-black-emoticon-face-symbol: "\f13c";
    $font-Flaticon-winking-emoticon-face-with-stuck-out-tongue-black-symbol: "\f13d";
    $font-Flaticon-worried-black-emoticon-face: "\f13e";
    $font-Flaticon-worried-black-face: "\f13f";
    $font-Flaticon-worried-face-of-black-emoticon: "\f140";