	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon1-"]:before, [class*=" flaticon1-"]:before,
[class^="flaticon1-"]:after, [class*=" flaticon1-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon1-amused-black-face-with-closed-eyes-and-mouth:before { content: "\f100"; }
.flaticon1-amused-black-solid-emoticon-face-for-interface:before { content: "\f101"; }
.flaticon1-amused-smiling-black-emoticon-face:before { content: "\f102"; }
.flaticon1-angry-black-emoticon-face:before { content: "\f103"; }
.flaticon1-angry-black-face:before { content: "\f104"; }
.flaticon1-angry-black-face-1:before { content: "\f105"; }
.flaticon1-angry-face-black-emoticon:before { content: "\f106"; }
.flaticon1-astonished-black-emoticon-face:before { content: "\f107"; }
.flaticon1-astonished-black-emoticon-face-1:before { content: "\f108"; }
.flaticon1-black-face-without-mouth:before { content: "\f109"; }
.flaticon1-emoticon-black-face-with-closed-eyes-and-opened-mouth:before { content: "\f10a"; }
.flaticon1-emoticon-black-face-with-opened-mouth:before { content: "\f10b"; }
.flaticon1-emoticon-black-face-with-opened-mouth-1:before { content: "\f10c"; }
.flaticon1-emoticon-black-face-with-opened-mouth-and-closed-eyes:before { content: "\f10d"; }
.flaticon1-emoticon-face-with-open-mouth-solid-black-interface-symbol:before { content: "\f10e"; }
.flaticon1-eyeglasses-black-face-emoticon:before { content: "\f10f"; }
.flaticon1-face-black-symbol-with-closed-eyes-and-opened-mouth:before { content: "\f110"; }
.flaticon1-fake-grinning-black-emoticon-face:before { content: "\f111"; }
.flaticon1-false-grinning-black-face:before { content: "\f112"; }
.flaticon1-flashed-black-emoticon-face:before { content: "\f113"; }
.flaticon1-flashed-black-emoticon-face-with-circular-sunglasses:before { content: "\f114"; }
.flaticon1-flashed-emoticon-face-black-symbol-with-opened-circular-eyes-and-mouth:before { content: "\f115"; }
.flaticon1-grinning-black-face-with-closed-eyes:before { content: "\f116"; }
.flaticon1-grinning-face:before { content: "\f117"; }
.flaticon1-grinning-face-black-emoticon-symbol:before { content: "\f118"; }
.flaticon1-grinning-face-showing-teeth-black-solid-emoticon:before { content: "\f119"; }
.flaticon1-kissing-black-emoticon-face:before { content: "\f11a"; }
.flaticon1-kissing-female-black-emoticon-face:before { content: "\f11b"; }
.flaticon1-laughing-black-emoticon-face:before { content: "\f11c"; }
.flaticon1-laughing-emoticon-black-happy-face:before { content: "\f11d"; }
.flaticon1-laughing-face-black-emoticon:before { content: "\f11e"; }
.flaticon1-moustache-male-black-emoticon-face:before { content: "\f11f"; }
.flaticon1-neutral-black-emoticon-face-symbol:before { content: "\f120"; }
.flaticon1-neutral-black-emoticon-face-with-straight-lines-of-eyes-and-mouth:before { content: "\f121"; }
.flaticon1-neutral-emoticon-face-black-solid-interface-symbol-with-straight-mouth-line:before { content: "\f122"; }
.flaticon1-old-man-black-face-emoticon-with-mustache-and-one-vintage-circular-eyeglass:before { content: "\f123"; }
.flaticon1-open-mouth-black-emoticon-face:before { content: "\f124"; }
.flaticon1-sad-black-emoticon-face:before { content: "\f125"; }
.flaticon1-sad-black-emoticon-face-1:before { content: "\f126"; }
.flaticon1-sad-black-face-emoticon:before { content: "\f127"; }
.flaticon1-sad-black-face-with-closed-eyes-fill-symbol:before { content: "\f128"; }
.flaticon1-sad-emoticon-black-face:before { content: "\f129"; }
.flaticon1-sad-emoticon-black-face-symbol:before { content: "\f12a"; }
.flaticon1-sad-emoticon-black-face-with-closed-eyes-and-mouth:before { content: "\f12b"; }
.flaticon1-sad-face-black-symbol:before { content: "\f12c"; }
.flaticon1-sad-face-of-solid-emoticon:before { content: "\f12d"; }
.flaticon1-sad-face-with-closed-eyes-and-mouth-black-emoticon-symbol:before { content: "\f12e"; }
.flaticon1-smiling-black-emoticon-face:before { content: "\f12f"; }
.flaticon1-smiling-black-emoticon-face-1:before { content: "\f130"; }
.flaticon1-smiling-black-face-with-closed-eyes-and-mouth:before { content: "\f131"; }
.flaticon1-smiling-emoticon-black-face-symbol:before { content: "\f132"; }
.flaticon1-smiling-face-black-circle-with-closed-eyes-and-mouth:before { content: "\f133"; }
.flaticon1-smiling-face-black-emoticon-symbol:before { content: "\f134"; }
.flaticon1-smirking-black-circular-emoticon-face-symbol:before { content: "\f135"; }
.flaticon1-smirking-face-black-emoticon-with-eyeglasses:before { content: "\f136"; }
.flaticon1-stubborn-solid-black-emoticon-face-interface-symbol:before { content: "\f137"; }
.flaticon1-stuck-out-tongue-of-black-face:before { content: "\f138"; }
.flaticon1-sunglasses-black-emoticon-face:before { content: "\f139"; }
.flaticon1-unamused-black-face-emoticon:before { content: "\f13a"; }
.flaticon1-winking-black-emoticon-face:before { content: "\f13b"; }
.flaticon1-winking-black-emoticon-face-symbol:before { content: "\f13c"; }
.flaticon1-winking-emoticon-face-with-stuck-out-tongue-black-symbol:before { content: "\f13d"; }
.flaticon1-worried-black-emoticon-face:before { content: "\f13e"; }
.flaticon1-worried-black-face:before { content: "\f13f"; }
.flaticon1-worried-face-of-black-emoticon:before { content: "\f140"; }
