    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:45
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-anger-emoticon-square-face:before { content: "\f100"; }
.flaticon-anger-on-emoticon-face-of-rounded-square-outline:before { content: "\f101"; }
.flaticon-angry-emoticon-face:before { content: "\f102"; }
.flaticon-angry-emoticon-face-with-opened-mouth-in-rounded-square-outline:before { content: "\f103"; }
.flaticon-angry-emoticon-square-face:before { content: "\f104"; }
.flaticon-angry-emoticon-square-face-1:before { content: "\f105"; }
.flaticon-angry-emoticon-square-face-with-closed-eyes:before { content: "\f106"; }
.flaticon-annulled-emoticon-square-face:before { content: "\f107"; }
.flaticon-bad-emoticon-square-face:before { content: "\f108"; }
.flaticon-black-eye-and-opened-mouth-emoticon-square-face:before { content: "\f109"; }
.flaticon-crying-emoticon-rounded-square-face:before { content: "\f10a"; }
.flaticon-disappointed-emoticon-face:before { content: "\f10b"; }
.flaticon-disgusted-emoticon-square-face:before { content: "\f10c"; }
.flaticon-doubt-on-emoticon-square-face:before { content: "\f10d"; }
.flaticon-emoticon-criminal-face-with-eyes-mask:before { content: "\f10e"; }
.flaticon-emoticon-face-of-doubt:before { content: "\f10f"; }
.flaticon-emoticon-face-square-with-tongue-out-of-the-mouth-and-closed-eyes:before { content: "\f110"; }
.flaticon-emoticon-face-with-the-mouth-at-one-side-like-a-small-smile-in-a-rounded-square:before { content: "\f111"; }
.flaticon-emoticon-happy-smiling-square-face-shape:before { content: "\f112"; }
.flaticon-emoticon-in-love-face-in-a-square:before { content: "\f113"; }
.flaticon-emoticon-in-love-face-with-heart-shaped-eyes-in-square-outline:before { content: "\f114"; }
.flaticon-emoticon-rounded-square-criminal-face-with-covered-eyes-with-a-mask:before { content: "\f115"; }
.flaticon-emoticon-smiling-square-face:before { content: "\f116"; }
.flaticon-emoticon-square-face-with-a-smile:before { content: "\f117"; }
.flaticon-emoticon-square-face-with-closed-eyes-and-big-lips:before { content: "\f118"; }
.flaticon-emoticon-square-face-with-closed-eyes-and-mouth-of-straight-lines:before { content: "\f119"; }
.flaticon-emoticon-square-face-with-closed-eyes-and-straight-mouth-line:before { content: "\f11a"; }
.flaticon-emoticon-square-face-with-closed-eyes-and-tongue-out:before { content: "\f11b"; }
.flaticon-emoticon-square-face-with-curved-mouth-expression:before { content: "\f11c"; }
.flaticon-emoticon-square-face-with-straight-mouth:before { content: "\f11d"; }
.flaticon-emoticon-square-face-with-straight-mouth-and-eyes-lines:before { content: "\f11e"; }
.flaticon-emoticon-square-face-with-tongue-out:before { content: "\f11f"; }
.flaticon-emoticon-square-rounded-face-with-tongue-out-of-the-mouth:before { content: "\f120"; }
.flaticon-emoticon-square-smile:before { content: "\f121"; }
.flaticon-emoticon-square-smiling-face-with-closed-eyes:before { content: "\f122"; }
.flaticon-emoticon-square-surprised-face-with-open-circular-mouth:before { content: "\f123"; }
.flaticon-emoticons-face-with-straight-mouth-line-and-closed-eyes:before { content: "\f124"; }
.flaticon-emoticons-square-face-with-closed-eyes-and-opened-mouth:before { content: "\f125"; }
.flaticon-emoticons-square-face-with-sunglasses:before { content: "\f126"; }
.flaticon-evil-smile-square-emoticon-face:before { content: "\f127"; }
.flaticon-furious-emoticon-square-face:before { content: "\f128"; }
.flaticon-happy-emoticon:before { content: "\f129"; }
.flaticon-happy-emoticon-smiling-square:before { content: "\f12a"; }
.flaticon-happy-emoticon-with-one-tooth:before { content: "\f12b"; }
.flaticon-happy-smiling-emoticon-face-with-open-mouth:before { content: "\f12c"; }
.flaticon-happy-smiling-emoticon-square-face:before { content: "\f12d"; }
.flaticon-happy-smiling-emoticon-square-face-1:before { content: "\f12e"; }
.flaticon-happy-smiling-emoticon-square-face-with-sunglasses:before { content: "\f12f"; }
.flaticon-intellectual-emoticon-square-face:before { content: "\f130"; }
.flaticon-male-square-face-with-glasses-and-mustache:before { content: "\f131"; }
.flaticon-mute-emoticon-square-face:before { content: "\f132"; }
.flaticon-mute-emoticon-square-face-1:before { content: "\f133"; }
.flaticon-nerd-emoticon-square-face:before { content: "\f134"; }
.flaticon-nerd-happy-smiling-face-in-rounded-square-face:before { content: "\f135"; }
.flaticon-pirate-emoticon-face-with-one-covered-eye-in-square-outline:before { content: "\f136"; }
.flaticon-resting-emoticon-square-face:before { content: "\f137"; }
.flaticon-sad-emoticon-square-face:before { content: "\f138"; }
.flaticon-sad-emoticon-square-face-with-closed-eyes:before { content: "\f139"; }
.flaticon-sad-face-in-rounded-square:before { content: "\f13a"; }
.flaticon-sad-rounded-square-emoticon:before { content: "\f13b"; }
.flaticon-sad-sleepy-emoticon-face-square:before { content: "\f13c"; }
.flaticon-sad-suffering-crying-emoticon-face:before { content: "\f13d"; }
.flaticon-scared-emoticon-square-face:before { content: "\f13e"; }
.flaticon-singing-emoticon-square-face:before { content: "\f13f"; }
.flaticon-sleeping-face-with-opened-mouth-in-square-outline:before { content: "\f140"; }
.flaticon-sleepy-emoticon-square-face:before { content: "\f141"; }
.flaticon-sleepy-face-square-shape:before { content: "\f142"; }
.flaticon-smiley-of-square-face-shape:before { content: "\f143"; }
.flaticon-smiley-of-square-rounded-face:before { content: "\f144"; }
.flaticon-smiley-square-face:before { content: "\f145"; }
.flaticon-smiley-square-face-1:before { content: "\f146"; }
.flaticon-smiley-square-face-with-broken-teeth:before { content: "\f147"; }
.flaticon-smiley-with-closed-eyes-rounded-square-face:before { content: "\f148"; }
.flaticon-smiley-with-tongue-in-a-square-shape:before { content: "\f149"; }
.flaticon-smiling-emoticon-face-in-a-square:before { content: "\f14a"; }
.flaticon-smiling-emoticon-square-face:before { content: "\f14b"; }
.flaticon-smiling-emoticon-square-face-1:before { content: "\f14c"; }
.flaticon-smiling-emoticon-square-face-with-closed-eyes:before { content: "\f14d"; }
.flaticon-smiling-emoticon-with-raised-eyebrows-and-closed-eyes:before { content: "\f14e"; }
.flaticon-smiling-happy-emoticon-face:before { content: "\f14f"; }
.flaticon-smiling-happy-emoticon-square-face-with-eyes-like-stars:before { content: "\f150"; }
.flaticon-smiling-square-face:before { content: "\f151"; }
.flaticon-square-emoticon-angry-face:before { content: "\f152"; }
.flaticon-student-smiling-emoticon-square-face:before { content: "\f153"; }
.flaticon-surprised-emoticon-square-face:before { content: "\f154"; }
.flaticon-surprised-emoticon-square-face-with-open-eyes-and-mouth:before { content: "\f155"; }
.flaticon-surprised-rounded-square-face:before { content: "\f156"; }
.flaticon-surprised-square-face-with-eyes-and-mouth-opened:before { content: "\f157"; }
.flaticon-sweating-emoticon-square-face:before { content: "\f158"; }
.flaticon-teardrop-falling-on-sad-emoticon-face:before { content: "\f159"; }
.flaticon-tired-emoticon-face-with-open-mouth-and-closed-eyes:before { content: "\f15a"; }
.flaticon-very-angry-emoticon-square-face:before { content: "\f15b"; }
.flaticon-wink-emoticon-of-rounded-square-face:before { content: "\f15c"; }
.flaticon-wink-face-square:before { content: "\f15d"; }
.flaticon-winking-emoticon-smiling-face-with-tongue-out-of-the-mouth-in-square-rounded-outline-shape:before { content: "\f15e"; }
.flaticon-winking-emoticon-with-tongue-out-of-mouth-and-square-face-shape:before { content: "\f15f"; }
.flaticon-wound-cross-on-emoticon-sad-face-of-rounded-square-shape:before { content: "\f160"; }
.flaticon-yawning-emoticon-face-in-rounded-square-with-open-oval-mouth-and-closed-small-eyes:before { content: "\f161"; }
.flaticon-yawning-emoticon-square-face:before { content: "\f162"; }
.flaticon-yawning-emoticon-square-face-1:before { content: "\f163"; }
    
    $font-Flaticon-anger-emoticon-square-face: "\f100";
    $font-Flaticon-anger-on-emoticon-face-of-rounded-square-outline: "\f101";
    $font-Flaticon-angry-emoticon-face: "\f102";
    $font-Flaticon-angry-emoticon-face-with-opened-mouth-in-rounded-square-outline: "\f103";
    $font-Flaticon-angry-emoticon-square-face: "\f104";
    $font-Flaticon-angry-emoticon-square-face-1: "\f105";
    $font-Flaticon-angry-emoticon-square-face-with-closed-eyes: "\f106";
    $font-Flaticon-annulled-emoticon-square-face: "\f107";
    $font-Flaticon-bad-emoticon-square-face: "\f108";
    $font-Flaticon-black-eye-and-opened-mouth-emoticon-square-face: "\f109";
    $font-Flaticon-crying-emoticon-rounded-square-face: "\f10a";
    $font-Flaticon-disappointed-emoticon-face: "\f10b";
    $font-Flaticon-disgusted-emoticon-square-face: "\f10c";
    $font-Flaticon-doubt-on-emoticon-square-face: "\f10d";
    $font-Flaticon-emoticon-criminal-face-with-eyes-mask: "\f10e";
    $font-Flaticon-emoticon-face-of-doubt: "\f10f";
    $font-Flaticon-emoticon-face-square-with-tongue-out-of-the-mouth-and-closed-eyes: "\f110";
    $font-Flaticon-emoticon-face-with-the-mouth-at-one-side-like-a-small-smile-in-a-rounded-square: "\f111";
    $font-Flaticon-emoticon-happy-smiling-square-face-shape: "\f112";
    $font-Flaticon-emoticon-in-love-face-in-a-square: "\f113";
    $font-Flaticon-emoticon-in-love-face-with-heart-shaped-eyes-in-square-outline: "\f114";
    $font-Flaticon-emoticon-rounded-square-criminal-face-with-covered-eyes-with-a-mask: "\f115";
    $font-Flaticon-emoticon-smiling-square-face: "\f116";
    $font-Flaticon-emoticon-square-face-with-a-smile: "\f117";
    $font-Flaticon-emoticon-square-face-with-closed-eyes-and-big-lips: "\f118";
    $font-Flaticon-emoticon-square-face-with-closed-eyes-and-mouth-of-straight-lines: "\f119";
    $font-Flaticon-emoticon-square-face-with-closed-eyes-and-straight-mouth-line: "\f11a";
    $font-Flaticon-emoticon-square-face-with-closed-eyes-and-tongue-out: "\f11b";
    $font-Flaticon-emoticon-square-face-with-curved-mouth-expression: "\f11c";
    $font-Flaticon-emoticon-square-face-with-straight-mouth: "\f11d";
    $font-Flaticon-emoticon-square-face-with-straight-mouth-and-eyes-lines: "\f11e";
    $font-Flaticon-emoticon-square-face-with-tongue-out: "\f11f";
    $font-Flaticon-emoticon-square-rounded-face-with-tongue-out-of-the-mouth: "\f120";
    $font-Flaticon-emoticon-square-smile: "\f121";
    $font-Flaticon-emoticon-square-smiling-face-with-closed-eyes: "\f122";
    $font-Flaticon-emoticon-square-surprised-face-with-open-circular-mouth: "\f123";
    $font-Flaticon-emoticons-face-with-straight-mouth-line-and-closed-eyes: "\f124";
    $font-Flaticon-emoticons-square-face-with-closed-eyes-and-opened-mouth: "\f125";
    $font-Flaticon-emoticons-square-face-with-sunglasses: "\f126";
    $font-Flaticon-evil-smile-square-emoticon-face: "\f127";
    $font-Flaticon-furious-emoticon-square-face: "\f128";
    $font-Flaticon-happy-emoticon: "\f129";
    $font-Flaticon-happy-emoticon-smiling-square: "\f12a";
    $font-Flaticon-happy-emoticon-with-one-tooth: "\f12b";
    $font-Flaticon-happy-smiling-emoticon-face-with-open-mouth: "\f12c";
    $font-Flaticon-happy-smiling-emoticon-square-face: "\f12d";
    $font-Flaticon-happy-smiling-emoticon-square-face-1: "\f12e";
    $font-Flaticon-happy-smiling-emoticon-square-face-with-sunglasses: "\f12f";
    $font-Flaticon-intellectual-emoticon-square-face: "\f130";
    $font-Flaticon-male-square-face-with-glasses-and-mustache: "\f131";
    $font-Flaticon-mute-emoticon-square-face: "\f132";
    $font-Flaticon-mute-emoticon-square-face-1: "\f133";
    $font-Flaticon-nerd-emoticon-square-face: "\f134";
    $font-Flaticon-nerd-happy-smiling-face-in-rounded-square-face: "\f135";
    $font-Flaticon-pirate-emoticon-face-with-one-covered-eye-in-square-outline: "\f136";
    $font-Flaticon-resting-emoticon-square-face: "\f137";
    $font-Flaticon-sad-emoticon-square-face: "\f138";
    $font-Flaticon-sad-emoticon-square-face-with-closed-eyes: "\f139";
    $font-Flaticon-sad-face-in-rounded-square: "\f13a";
    $font-Flaticon-sad-rounded-square-emoticon: "\f13b";
    $font-Flaticon-sad-sleepy-emoticon-face-square: "\f13c";
    $font-Flaticon-sad-suffering-crying-emoticon-face: "\f13d";
    $font-Flaticon-scared-emoticon-square-face: "\f13e";
    $font-Flaticon-singing-emoticon-square-face: "\f13f";
    $font-Flaticon-sleeping-face-with-opened-mouth-in-square-outline: "\f140";
    $font-Flaticon-sleepy-emoticon-square-face: "\f141";
    $font-Flaticon-sleepy-face-square-shape: "\f142";
    $font-Flaticon-smiley-of-square-face-shape: "\f143";
    $font-Flaticon-smiley-of-square-rounded-face: "\f144";
    $font-Flaticon-smiley-square-face: "\f145";
    $font-Flaticon-smiley-square-face-1: "\f146";
    $font-Flaticon-smiley-square-face-with-broken-teeth: "\f147";
    $font-Flaticon-smiley-with-closed-eyes-rounded-square-face: "\f148";
    $font-Flaticon-smiley-with-tongue-in-a-square-shape: "\f149";
    $font-Flaticon-smiling-emoticon-face-in-a-square: "\f14a";
    $font-Flaticon-smiling-emoticon-square-face: "\f14b";
    $font-Flaticon-smiling-emoticon-square-face-1: "\f14c";
    $font-Flaticon-smiling-emoticon-square-face-with-closed-eyes: "\f14d";
    $font-Flaticon-smiling-emoticon-with-raised-eyebrows-and-closed-eyes: "\f14e";
    $font-Flaticon-smiling-happy-emoticon-face: "\f14f";
    $font-Flaticon-smiling-happy-emoticon-square-face-with-eyes-like-stars: "\f150";
    $font-Flaticon-smiling-square-face: "\f151";
    $font-Flaticon-square-emoticon-angry-face: "\f152";
    $font-Flaticon-student-smiling-emoticon-square-face: "\f153";
    $font-Flaticon-surprised-emoticon-square-face: "\f154";
    $font-Flaticon-surprised-emoticon-square-face-with-open-eyes-and-mouth: "\f155";
    $font-Flaticon-surprised-rounded-square-face: "\f156";
    $font-Flaticon-surprised-square-face-with-eyes-and-mouth-opened: "\f157";
    $font-Flaticon-sweating-emoticon-square-face: "\f158";
    $font-Flaticon-teardrop-falling-on-sad-emoticon-face: "\f159";
    $font-Flaticon-tired-emoticon-face-with-open-mouth-and-closed-eyes: "\f15a";
    $font-Flaticon-very-angry-emoticon-square-face: "\f15b";
    $font-Flaticon-wink-emoticon-of-rounded-square-face: "\f15c";
    $font-Flaticon-wink-face-square: "\f15d";
    $font-Flaticon-winking-emoticon-smiling-face-with-tongue-out-of-the-mouth-in-square-rounded-outline-shape: "\f15e";
    $font-Flaticon-winking-emoticon-with-tongue-out-of-mouth-and-square-face-shape: "\f15f";
    $font-Flaticon-wound-cross-on-emoticon-sad-face-of-rounded-square-shape: "\f160";
    $font-Flaticon-yawning-emoticon-face-in-rounded-square-with-open-oval-mouth-and-closed-small-eyes: "\f161";
    $font-Flaticon-yawning-emoticon-square-face: "\f162";
    $font-Flaticon-yawning-emoticon-square-face-1: "\f163";