	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:45
  	*/

@font-face {
  font-family: "Flaticon2";
  src: url("./Flaticon2.eot");
  src: url("./Flaticon2.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon2.woff") format("woff"),
       url("./Flaticon2.ttf") format("truetype"),
       url("./Flaticon2.svg#Flaticon2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("./Flaticon2.svg#Flaticon2") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon2;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-2anger-emoticon-square-face:before { content: "\f100"; }
.flaticon-2anger-on-emoticon-face-of-rounded-square-outline:before { content: "\f101"; }
.flaticon-2angry-emoticon-face:before { content: "\f102"; }
.flaticon-2angry-emoticon-face-with-opened-mouth-in-rounded-square-outline:before { content: "\f103"; }
.flaticon-2angry-emoticon-square-face:before { content: "\f104"; }
.flaticon-2angry-emoticon-square-face-1:before { content: "\f105"; }
.flaticon-2angry-emoticon-square-face-with-closed-eyes:before { content: "\f106"; }
.flaticon-2annulled-emoticon-square-face:before { content: "\f107"; }
.flaticon-2bad-emoticon-square-face:before { content: "\f108"; }
.flaticon-2black-eye-and-opened-mouth-emoticon-square-face:before { content: "\f109"; }
.flaticon-2crying-emoticon-rounded-square-face:before { content: "\f10a"; }
.flaticon-2disappointed-emoticon-face:before { content: "\f10b"; }
.flaticon-2disgusted-emoticon-square-face:before { content: "\f10c"; }
.flaticon-2doubt-on-emoticon-square-face:before { content: "\f10d"; }
.flaticon-2emoticon-criminal-face-with-eyes-mask:before { content: "\f10e"; }
.flaticon-2emoticon-face-of-doubt:before { content: "\f10f"; }
.flaticon-2emoticon-face-square-with-tongue-out-of-the-mouth-and-closed-eyes:before { content: "\f110"; }
.flaticon-2emoticon-face-with-the-mouth-at-one-side-like-a-small-smile-in-a-rounded-square:before { content: "\f111"; }
.flaticon-2emoticon-happy-smiling-square-face-shape:before { content: "\f112"; }
.flaticon-2emoticon-in-love-face-in-a-square:before { content: "\f113"; }
.flaticon-2emoticon-in-love-face-with-heart-shaped-eyes-in-square-outline:before { content: "\f114"; }
.flaticon-2emoticon-rounded-square-criminal-face-with-covered-eyes-with-a-mask:before { content: "\f115"; }
.flaticon-2emoticon-smiling-square-face:before { content: "\f116"; }
.flaticon-2emoticon-square-face-with-a-smile:before { content: "\f117"; }
.flaticon-2emoticon-square-face-with-closed-eyes-and-big-lips:before { content: "\f118"; }
.flaticon-2emoticon-square-face-with-closed-eyes-and-mouth-of-straight-lines:before { content: "\f119"; }
.flaticon-2emoticon-square-face-with-closed-eyes-and-straight-mouth-line:before { content: "\f11a"; }
.flaticon-2emoticon-square-face-with-closed-eyes-and-tongue-out:before { content: "\f11b"; }
.flaticon-2emoticon-square-face-with-curved-mouth-expression:before { content: "\f11c"; }
.flaticon-2emoticon-square-face-with-straight-mouth:before { content: "\f11d"; }
.flaticon-2emoticon-square-face-with-straight-mouth-and-eyes-lines:before { content: "\f11e"; }
.flaticon-2emoticon-square-face-with-tongue-out:before { content: "\f11f"; }
.flaticon-2emoticon-square-rounded-face-with-tongue-out-of-the-mouth:before { content: "\f120"; }
.flaticon-2emoticon-square-smile:before { content: "\f121"; }
.flaticon-2emoticon-square-smiling-face-with-closed-eyes:before { content: "\f122"; }
.flaticon-2emoticon-square-surprised-face-with-open-circular-mouth:before { content: "\f123"; }
.flaticon-2emoticons-face-with-straight-mouth-line-and-closed-eyes:before { content: "\f124"; }
.flaticon-2emoticons-square-face-with-closed-eyes-and-opened-mouth:before { content: "\f125"; }
.flaticon-2emoticons-square-face-with-sunglasses:before { content: "\f126"; }
.flaticon-2evil-smile-square-emoticon-face:before { content: "\f127"; }
.flaticon-2furious-emoticon-square-face:before { content: "\f128"; }
.flaticon-2happy-emoticon:before { content: "\f129"; }
.flaticon-2happy-emoticon-smiling-square:before { content: "\f12a"; }
.flaticon-2happy-emoticon-with-one-tooth:before { content: "\f12b"; }
.flaticon-2happy-smiling-emoticon-face-with-open-mouth:before { content: "\f12c"; }
.flaticon-2happy-smiling-emoticon-square-face:before { content: "\f12d"; }
.flaticon-2happy-smiling-emoticon-square-face-1:before { content: "\f12e"; }
.flaticon-2happy-smiling-emoticon-square-face-with-sunglasses:before { content: "\f12f"; }
.flaticon-2intellectual-emoticon-square-face:before { content: "\f130"; }
.flaticon-2male-square-face-with-glasses-and-mustache:before { content: "\f131"; }
.flaticon-2mute-emoticon-square-face:before { content: "\f132"; }
.flaticon-2mute-emoticon-square-face-1:before { content: "\f133"; }
.flaticon-2nerd-emoticon-square-face:before { content: "\f134"; }
.flaticon-2nerd-happy-smiling-face-in-rounded-square-face:before { content: "\f135"; }
.flaticon-2pirate-emoticon-face-with-one-covered-eye-in-square-outline:before { content: "\f136"; }
.flaticon-2resting-emoticon-square-face:before { content: "\f137"; }
.flaticon-2sad-emoticon-square-face:before { content: "\f138"; }
.flaticon-2sad-emoticon-square-face-with-closed-eyes:before { content: "\f139"; }
.flaticon-2sad-face-in-rounded-square:before { content: "\f13a"; }
.flaticon-2sad-rounded-square-emoticon:before { content: "\f13b"; }
.flaticon-2sad-sleepy-emoticon-face-square:before { content: "\f13c"; }
.flaticon-2sad-suffering-crying-emoticon-face:before { content: "\f13d"; }
.flaticon-2scared-emoticon-square-face:before { content: "\f13e"; }
.flaticon-2singing-emoticon-square-face:before { content: "\f13f"; }
.flaticon-2sleeping-face-with-opened-mouth-in-square-outline:before { content: "\f140"; }
.flaticon-2sleepy-emoticon-square-face:before { content: "\f141"; }
.flaticon-2sleepy-face-square-shape:before { content: "\f142"; }
.flaticon-2smiley-of-square-face-shape:before { content: "\f143"; }
.flaticon-2smiley-of-square-rounded-face:before { content: "\f144"; }
.flaticon-2smiley-square-face:before { content: "\f145"; }
.flaticon-2smiley-square-face-1:before { content: "\f146"; }
.flaticon-2smiley-square-face-with-broken-teeth:before { content: "\f147"; }
.flaticon-2smiley-with-closed-eyes-rounded-square-face:before { content: "\f148"; }
.flaticon-2smiley-with-tongue-in-a-square-shape:before { content: "\f149"; }
.flaticon-2smiling-emoticon-face-in-a-square:before { content: "\f14a"; }
.flaticon-2smiling-emoticon-square-face:before { content: "\f14b"; }
.flaticon-2smiling-emoticon-square-face-1:before { content: "\f14c"; }
.flaticon-2smiling-emoticon-square-face-with-closed-eyes:before { content: "\f14d"; }
.flaticon-2smiling-emoticon-with-raised-eyebrows-and-closed-eyes:before { content: "\f14e"; }
.flaticon-2smiling-happy-emoticon-face:before { content: "\f14f"; }
.flaticon-2smiling-happy-emoticon-square-face-with-eyes-like-stars:before { content: "\f150"; }
.flaticon-2smiling-square-face:before { content: "\f151"; }
.flaticon-2square-emoticon-angry-face:before { content: "\f152"; }
.flaticon-2student-smiling-emoticon-square-face:before { content: "\f153"; }
.flaticon-2surprised-emoticon-square-face:before { content: "\f154"; }
.flaticon-2surprised-emoticon-square-face-with-open-eyes-and-mouth:before { content: "\f155"; }
.flaticon-2surprised-rounded-square-face:before { content: "\f156"; }
.flaticon-2surprised-square-face-with-eyes-and-mouth-opened:before { content: "\f157"; }
.flaticon-2sweating-emoticon-square-face:before { content: "\f158"; }
.flaticon-2teardrop-falling-on-sad-emoticon-face:before { content: "\f159"; }
.flaticon-2tired-emoticon-face-with-open-mouth-and-closed-eyes:before { content: "\f15a"; }
.flaticon-2very-angry-emoticon-square-face:before { content: "\f15b"; }
.flaticon-2wink-emoticon-of-rounded-square-face:before { content: "\f15c"; }
.flaticon-2wink-face-square:before { content: "\f15d"; }
.flaticon-2winking-emoticon-smiling-face-with-tongue-out-of-the-mouth-in-square-rounded-outline-shape:before { content: "\f15e"; }
.flaticon-2winking-emoticon-with-tongue-out-of-mouth-and-square-face-shape:before { content: "\f15f"; }
.flaticon-2wound-cross-on-emoticon-sad-face-of-rounded-square-shape:before { content: "\f160"; }
.flaticon-2yawning-emoticon-face-in-rounded-square-with-open-oval-mouth-and-closed-small-eyes:before { content: "\f161"; }
.flaticon-2yawning-emoticon-square-face:before { content: "\f162"; }
.flaticon-2yawning-emoticon-square-face-1:before { content: "\f163"; }
