.ion-rating {
  display: inline-block;
}
.ion-rating ul {
  margin: 0;
}
.ion-rating ul li {
  display: inline-block;
  padding: 0 3px;
}
.ion-rating ul li i {
  font-size: 20px;

}
[class^="flaticon1-"]:before, [class*=" flaticon1-"]:before, [class^="flaticon1-"]:after, [class*=" flaticon1-"]:after {
    margin-left: 0px !important;
}
