.platform-android .bar-custom {
   top: 93px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
 }

/* Empty. Add your own CSS if you like */
.bar-balanced{
  background-color: rgb(76, 158, 69)!important;
}

.b-categoria{
    color: rgb(76, 158, 69)!important;
}

.i-width{
  width: 20% !important;
  height: 20%!important;
}

.i-titulo{
  text-decoration: none !important;
  color:  rgb(76, 158, 69)!important;
}
.item-cont2{
border-right: 6px solid  rgb(76, 158, 69)!important;
}

.b-ion{
  background-color: rgb(121, 182, 116) !important;
}

.estrella{
  position: absolute !important;
  left: 93%;
  top: 5%;
}

.img-logo{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.img-perfil{
  margin-top: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 0 5px #888;
  border: 2px solid #fff;
}

.p-item{
  box-shadow: 0 0 0 0 !important;
  border-radius: 0px !important;
  border: none;
}

.d-img{
  text-align:  center;
}

.perfil{
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.0), 0 0 8px rgba(0, 0, 0, 0.1) inset;
  border-radius: 8px;
}

.b-cerrar{
  margin-left: -23px !important;
  margin-top: -5px  !important;
}

.imagen-detalle{
  border-radius: 4px !important;
}
.a-tabla{
background-color: #F5F5F5 !important;
border-radius: 4px !important;
}

/* Galeria*/

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: rgba(0, 0, 0, 0.8) !important;
    position: absolute;
    top: 25%;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}

.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}

.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

.tagTamanio{
  background-color: rgba(76, 158, 69, 0.5);
}


figure {
  position: relative;
}
figure img {
  display: block;
  border-radius: 4px;
}

figcaption {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0;
  font-weight: bold;
  /*line-height: 200%;*/
  text-transform: capitalize;
  font-size: 0.8em;
}
figcaption span {
  color: white;
  background: black;
  /* fallback */
  background: rgba(0, 0, 0, 0.7);
  padding: .1em 0 .1em .3em;
}


/*Perfil card*/
.container {
  margin: 5px auto;
  width: 100%;
}

a {
  display: inline-block;
  transition: all ease 0.3s;
}

.profile-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}
.profile-box .profile-picture {
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -55px;
}
.profile-box .profile-picture img {
  border: 5px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
}

.profile-cover-image {
  height: 200px;
  overflow: hidden;
}
.profile-cover-image img {
  width: 100%;
}

.profile-content {
  padding: 40px 20px;
  text-align: center;
}
.profile-content h1 {
  font-weight: normal;
  margin-bottom: 0.2em;
}
.profile-content p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #d2d2d2;
}
.profile-content .socials a {
  color: #d2d2d2;
  margin: 0 15px;
  font-size: 1.6em;
  transform: translateY(4px);
}
.profile-content .socials .activo{
  color: #aaa;
  transform: translateY(0);
}


/*Modal de facetas*/

.labelSeleccion{
  white-space: normal !important;
}

.ion-nifty-modal {
  width: 90%;
  min-height: 0 !important;
  height: 60% !important;
  top: 25%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.ion-nifty-modal .ion-modal-content-custom {
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #FFF;
  border-radius: 10px; }

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; } }
/*------------------*/

.glyph-icon {
        padding: 10px;
        display: block;
        font-family:"Flaticon";
        font-size: 84px;
        line-height: 1;
}
.glyph-icon:before {
    font-size: 84px;
    color: #888;
    margin-left: 0;
}
.aviso {
  text-align:center;
}
.aviso span{
  font-weight: bolder;
  color: #888 !important;
}
.vcenter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 60%;
  flex-direction: column;
  justify-content: center;
}

.platform-android .header-item.title, .platform-android .header-item.buttons {
  transition-duration: 0ms !important;
}

.estrellaOn{
  color: rgb(242, 200, 21);
}

.scroll .padding{
  background : white;
}
